# https://www.baeldung.com/linux/ansible-add-user-password-group
- name: create munge and slurm user
  hosts:
    - master
    - workers
  become: yes
  tasks:
    - name: make munge group
      ansible.builtin.group:
        name: munge
        state: present
        gid: 1111
    - name: make slurm group
      ansible.builtin.group:
        name: slurm
        state: present
        gid: 1121
    - name: Create password locked user
      ansible.builtin.user:
        name: munge
        uid: 1111
        comment: ""
        group: munge
        state: present
        password: ''            # login without password or passwd -d slurm
    - name: Create password locked user
      ansible.builtin.user:
        name: slurm
        uid: 1121
        comment: ""
        group: slurm
        state: present
        password: ''             # login without password or passwd -d slurm

