- hosts: all
  gather_facts: yes
  tasks:
    - debug:
        msg: "{{ ansible_hostname }}:{{ ansible_default_ipv4.address }}"
        
- name: gather cluster node information and update /etc/hosts of each node
  hosts: all
  tasks:
  - name: update /etc/hosts
    become: yes
    blockinfile:
      backup: yes
      path: /etc/hosts
      block: |
        {% for host in groups['all'] %} 
        {{ hostvars[host]['ansible_facts']['ens5']['ipv4']['address'] }} {{ hostvars[host]['ansible_facts']['hostname'] }} 
        {% endfor %}

# https://www.baeldung.com/linux/ansible-add-user-password-group
- name: create munge and slurm user
  hosts:
    - master
    - workers
  become: yes
  tasks:
    - name: make munge group
      ansible.builtin.group:
        name: munge
        state: present
        gid: 1111
    - name: make slurm group
      ansible.builtin.group:
        name: slurm
        state: present
        gid: 1121
    - name: Create password locked user
      ansible.builtin.user:
        name: munge
        uid: 1111
        comment: ""
        group: munge
        state: present
        password: ''            # login without password with '' or passwd -d slurm at tty
    - name: Create password locked user
      ansible.builtin.user:
        name: slurm
        uid: 1121
        comment: ""
        group: slurm
        state: present
        password: ''             # login without password with '' or passwd -d slurm at tty

- name: install munge on cluster master
  hosts: master
  become: yes
  tasks:
      - name: install
        ansible.builtin.apt:
          pkg:
          - libmunge-dev 
          - libmunge2 
          - munge
          state: present
      - name: enable service
        ansible.builtin.systemd_service:
          name: munge
          state: started
          enabled: true
      - name: copy munge.key to /mnt/efs
        ansible.builtin.copy:
          src: /etc/munge/munge.key
          dest: /mnt/efs
          owner: munge
          group: munge
          mode: "0400"
          remote_src: true
- name: install munge on cluster workers   
  hosts: workers
  become: yes
  tasks:
      - name: install
        ansible.builtin.apt:
          pkg:
          - libmunge-dev 
          - libmunge2 
          - munge
          state: present
      - name: copy munge.key from /mnt/efs
        ansible.builtin.copy:
            src:  /mnt/efs/munge.key
            dest: /etc/munge/munge.key
            owner: munge
            group: munge
            mode: "0400"
            remote_src: true
      - name: enable service
        ansible.builtin.systemd_service:
            name: munge
            state: started
            enabled: true

- name: compile and install slurm  
  hosts: all
  tasks:
      - name: The compile tasks taking time are in progress, slurm packages will be installed in /usr/local
        shell: |
          if [ -d "slurm-24.11.0" ]; then 
            return 0 
          fi
          curl https://download.schedmd.com/slurm/slurm-24.11.0.tar.bz2 -o slurm-24.11.0.tar.bz2
          tar -xaf slurm-24.11.0.tar.bz2
          cd slurm-24.11.0
          ./configure
          sudo make install  
        register: out
      - debug: var=out.stdout_lines      

- name: copy slurm.conf/gres.conf to slurm cluster
  hosts: all
  become: yes
  remote_user: ubuntu
  tasks:
    - name: copy files from local
      copy:
        src: ~/slurm-on-grv/slurm/conf/slurm.conf
        dest: /usr/local/etc
    - name: copy files from local
      copy:
        src: ~/slurm-on-grv/slurm/conf/gres.conf
        dest: /usr/local/etc
    - name: change owner
      file:
        path: /usr/local/etc/slurm.conf
        owner: slurm
        group: slurm
    - name: change owner
      file:
        path: /usr/local/etc/gres.conf
        owner: slurm
        group: slurm     
- name: create files which is required by slrumd
  hosts: all
  become: yes
  tasks:
    - name: create slrumctl logfile
      ansible.builtin.file:
        path: /var/log/slurmctld.log
        state: touch 
        owner: slurm
        group: slurm
        mode: '0644'
    - name: create slrumctl pid
      ansible.builtin.file:
        path: /var/run/slurmctld.pid
        state: touch 
        owner: slurm
        group: slurm
        mode: '0644'
    - name: write permission for /var/spool directory
      ansible.builtin.file:
        path: /var/spool/slurmctld
        state: directory
        owner: slurm
        group: slurm
        mode: '0644'
          
